.cart-main {
  position: absolute;
  right: 0;
  top: 65px;
  width: 311px;
  height: fit-content;
  .cart-item {
    .close {
      font-size: 30px;
      color: red;
      cursor: pointer;
    }
    img {
      width: 70px;
      height: 50px;
    }
  }
}
