.products-main {
  .pagination-data {
    width: 35%;
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      cursor: pointer;
      a {
        padding: 4px 7px;
        color: white;
        background-color: yellowgreen;
        border-radius: 5px;
      }
      button {
        border: none;
        color: white;
        background-color: yellowgreen;
        border-radius: 4px;
        &:disabled {
          background-color: #7a816b;
        }
      }
    }
  }
  .products-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    .product-item {
      cursor: pointer;
      .add-to-cart {
        font-size: 16px;
        background: yellowgreen;
        padding: 7px 3px;
      }
    }
  }
}
